table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
    /* Yatayda ortala */
    padding: 10px;
    border: 1px solid #ddd;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}