
  
  .container {
    display: flex;
 
   
    align-items: center;
  }
  
  .dropdown-container {
    font-size: 14px;
    padding: 10px 32px;
  }
  
  .dropdown-btn {
    width: 100px;
    height: 36px;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #dddddd;
    color: #2e3440;
    border-radius: 5px;
  }
  
  .dropdown-btn.dropdown-triangle::after {
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-top: 5px solid #2e3440;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: none;
    content: "";
  }
  
  .dropdown-content {
    position: absolute;
    opacity: 0;
    z-index: 1;
    width: 100px;
    background-color: #dddddd;
    border-radius: 5px;
    transition: opacity 0.3s ease-out, transform 0.2s ease-out;
  }
  
  .dropdown-item {
    display: block;
    height: 36px;
    padding: 0 10px;
    text-align: center;
    line-height: 36px;
    color: #2e3440;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .dropdown-item:nth-child(even) {
    background-color: #dddddd;
}
  
  .dropdown-show {
    opacity: 1;
    transform: translateY(10px);
  }
  
  .dropdown-item:first-child {
    border-radius: 5px 5px 0 0;
  }
  
  .dropdown-item:last-child {
    border-radius:0 0 5px 5px;
  }
  
  .dropdown-item:hover {
    background-color: #ffffff;
  }
  
  
  